{% extends 'CentrohipicoBundle::centroh_base.html.twig' %} 

{% block content_content %}
<div class="col-md-12">
    <div class="alert alert-warning">
        No hay un <strong>Representante Legal</strong> creado. Puede crear en <a href="{{path('operadora_new')}}" class="btn btn-default">Crear Representante Legal</a>
    </div>
</div>
{% endblock %}