{% extends 'FiscalizacionBundle::base.html.twig' %}

{% block content_content %} 
<div class="col-md-11">
    <div class="block-separator col-sm-11"></div>

    <h1>{% block main_title %}{% endblock %}</h1>

    {% block buttons %}

    {% endblock %}
    
    <div class="left">
            {% if entities|length > 0 %}
                <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" style="width: 50%">
                    {{ knp_pagination_render(entities) }}
                </article>
            {% endif %}
        </div>
    <br/><br>
    {% if entities|length > 0 %}
    {% if tipo is defined %}
        {{ include('ExportBundle::iconslink.html.twig', {'pdf':'exportpdf_pagos_'~tipo,'xcel':'exportxls_pagos_'~tipo}) }}
    {% endif %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                {% block headers %}
                
                {% endblock %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% block columns %}
            
            {% endblock %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="col-md-12">
            <div id="notificaciones">
                <ul>
                    <li class="n1"><h5>No se encontraron resultados</h5></li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>

{% block footlistar%} {% endblock %}
{% endblock %}
