{% block content_content %}
    Estimado(a) {{ nombre }},<br><br>
    {{ message | raw }}
{% endblock %}    
<br><br>
Importante: Recuerde también mantener actualizada la dirección de correo electrónico de su usuario con el que se registró en el sistema, ya que es la única vía para mantenerlo informado.<br><br>
Atentamente,<br>
<b>Superintendencia Nacional de Actividades Hípicas, SUNAHIP.</b><br><br>
Para mayor información consultar:  <a href="http://www.sunahip.com.ve">www.sunahip.com.ve</a><br>
Contáctenos: Correo electrónico: <a href="mailto:info@sunahip.gob.ve">info@sunahip.gob.ve</a><br>
Twitter: <a href="https://twitter.com/OficialINH">@OficialINH</a><br>
Teléfonos: 58 (212)681 33 31<br><br>
<span style="font-style:italic;">Este correo ha sido enviado automáticamente por el Sistema Nacional de Licencias y Fiscalización de la SUNAHIP. Por favor no responder éste correo.</span>