parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     sunahipdb
    database_user:     sfuser
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    unidad_tributaria:  150

    locale:            es
    secret:            sdfsdfTRe5.$45734rw454!
    
    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
