{% extends "FiscalizacionBundle:Pagos:index.html.twig" %}
{% block addHeader %}
    <th>F. de Pago</th>
    <th>&nbsp;</th>
{%endblock %}

{% block addCol %}
    <td>
    {% if entity.fechaDeposito is not null %}
    {{entity.fechaDeposito | date('d/m/Y')}}
    {% else %}
        -
    {% endif %}
    </td>
    <td>
    {% if entity.getArchivoAdjunto is not null %}
        {{ entity.getArchivoAdjunto|vlabs_media('CentrohipicoBundle:SolicitudAfiliacion:ver_doc.html.twig') }}
    {% endif %}
    </td>
{% endblock %}