<h3>Licencias</h3>
<ul class="menu2">
    <li><a href="{{ path('fiscal_citas_listado',{'tipo':'Solicitada'}) }}" title="Citas asignadas">Citas asignadas</a></li>
    {#<li><a href="" title="Recaudos Recibidos">Recaudos Recibidos</a></li>#}
</ul>
<h3>Fiscalizaciones</h3>
<ul class="menu2">
        <li><a href="{{ path('providencia') }}" title="Providencias">Providencias</a></li>
        <li><a href="{{ path('fiscalizacion') }}" title="Fiscalización">Generar Fiscalización</a></li>
        {#<li><a href="#" title="frames/consultadefiscalizaciones.html">Consultar</a></li>#}
</ul>