<h3>Licencias</h3>
<ul class="menu2">
    <li><a href="{{ path('fiscal_citas_listado',{'tipo':'Verificada'}) }}" title="Por aprobar">Por aprobar</a></li>
    {#<li><a href="{{ path('fiscal_citas_listado',{'tipo':'Aprobada'}) }}" title="Aprobadas">Aprobadas</a></li>#}
    <li><a href="{{ path('solicitudes_aprobadas_listado') }}" title="Aprobadas">Aprobadas</a></li>
    <li><a href="{{ path('fiscal_citas_listado',{'tipo':'Rechazada'}) }}" title="Rechazadas">Rechazadas</a></li>
</ul>