{% extends 'CentrohipicoBundle::centroh_base.html.twig' %} 
{% block content_content %}
    	 <div class="block-separator col-sm-12"></div> 
            <div class="col-md-12">
	       <h1 class="tit_principal">Datos Legales</h1>
            </div>    
    <div class="row col-lg-12">
        <h3>Datos Cargados Correctamente</h3>
    </div>
{% endblock %}

