<p>
Se emite la presente acta en tres (03) ejemplares de un mismo tenor y a un solo efecto,
uno de los cuales queda en poder del notificado.
</p>
<br>
<br>
<table style="width:100%;text-align:center">
    <tr>
        <td>
        POR LA SUNAHIP  <br />
        Nombre y Apellido<br />
        Firma y Sello
        </td>

        <td>
        POR EL ESTABLECIMIENTO<br />
        Nombre y Apellido:<br />
        Cédula de Identidad:<br />
        Fecha: {{'now'|date('d-m-Y')}} <br />
        Firma: <br />
        Telf.:
        </td>
    </tr>
</table>


 


